# Ignore everything in the build subdirectory
build/*/*
# except the project directories
!build/*/vector_memcpy/
!build/*/hello_world/

# Ignore all files *within* vector_memcpy
build/*/vector_memcpy/*
# but allow the outputs we like
!build/*/vector_memcpy/vector_memcpy.elf
!build/*/vector_memcpy/vector_memcpy.elf.dump
!build/*/vector_memcpy/vector_memcpy.s
!build/*/vector_memcpy/mem.bin

# Ignore all files *within* vector_memcpy
build/*/hello_world/*
# but allow the outputs we like
!build/*/hello_world/hello_world.elf
!build/*/hello_world/hello_world.elf.dump
!build/*/hello_world/hello_world.s
!build/*/hello_world/mem.bin

*.pyc